* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #12121a;
  color: #e0e0e0;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #12121a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}
